.display-container {
	display: flex;
	justify-content: center;
}

.display-container .display-wrapper {
	margin-top: 40px;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
}

.display-container .display-wrapper h5 {
	margin: 20px 0 0 0;
	word-spacing: 5px;
	padding: 0 0 0 20px;
	border-left: 5px solid #3366ff;
	align-self: center;
	opacity: 0.7;
	font-weight: 600;
}

.display-wrapper .table-container {
	height: 67vh;
	margin-top: 20px;
	overflow-y: scroll;
	border: 1px solid red;
}

.display-wrapper .table-container thead th {
	opacity: 0.7;
	border: 1px solid #dee2e6 !important;
	text-align: center;
}

.display-wrapper .table-container tbody tr td {
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 10px 0;
	max-height: 50px !important;
	border-bottom: 1px solid #dee2e6;
	border: 1px solid red;
}

.display-wrapper .table-container tbody tr#unread {
	color: #03045e;
	font-weight: 700;
}
