.dashboard-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.dashboard-container#active {
	filter: brightness(70%) blur(0.8px);
}
