.contact-container {
	width: 100vw;
	height: fit-content;
}

/* contact-organization  start  */
.contact-container .contact-organization {
	width: 100vw;
	min-height: 50vh;
	max-height: fit-content;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.contact-container .contact-organization #title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

.contact-container .contact-organization #title h2 {
	font-size: 29px;
	font-style: italic;
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 5px;
	margin: 0;
}

.contact-container .contact-organization #title hr {
	width: 150px;
	height: 3px;
	margin: 5px 0 0 0;
	opacity: 1;
	background: #ffb800;
}

.contact-container .contact-organization #content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 340px;
	background: #00288f;
	border: 3px solid #ffa800;
}

.contact-container .contact-organization #content p {
	flex-grow: 1;
	margin: 0;
	color: white;
	line-height: 130%;
	text-align: justify;
}

.contact-organization #content .organization-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#content .organization-img-wrapper .organization-img {
	width: 200px;
	height: 80px;
}

#content .organization-img-wrapper .social-icon {
	margin: -24px 0px 0 6px;
}

#content .organization-img-wrapper .social-icon a img {
	width: 30px;
	height: 30px;
	margin-left: 20px;
}

/* responsive start  */
@media screen and (max-width: 800px) {
	.contact-organization #content {
		padding: 20px;
		height: fit-content !important;
	}
	.contact-organization #content .content-wrapper {
		width: 100%;
		margin-bottom: 30px;
	}

	.contact-organization #content .organization-img-wrapper {
		width: 100%;
	}
}
/* contact-organization  end  */

/* contact us start  */
.contact-container .contact-us {
	width: 100vw;
	min-height: 50vh;
	max-height: fit-content;
	display: flex;
	justify-content: center;
	background: rgba(23, 23, 23, 0.94);
}

.contact-container .contact-us #title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	height: 53px;
}

.contact-container .contact-us #title h2 {
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 5px;
	font-style: italic;
	margin: 0;
	color: white;
	width: 245px;
	background: #0047ff;
	border-radius: 5px;
	align-self: center;
	text-align: center;
	padding: 5px 0;
}

.contact-container .contact-us .footer-container {
	color: white;
	margin-top: 40px;
	display: flex;
	justify-content: space-evenly;
}

.contact-container .contact-us .footer-container h4 {
	font-weight: 500;
	font-size: 24px;
	color: #00a3ff;
	word-spacing: 1px;
	letter-spacing: 2px;
}

.contact-container .contact-us .footer-container a {
	color: white;
	text-decoration: none;
	display: inline-block;
}

.contact-container .contact-us .footer-container ul {
	padding-left: 18px;
}

.contact-container .contact-us .footer-container ul li {
	cursor: pointer;
	width: fit-content;
}

.contact-container .contact-us .footer-container ul li::marker {
	font-size: 1.3rem;
}

.contact-container .contact-us .footer-container .footer-middle p {
	cursor: pointer;
	display: inline-block;
}

.contact-container .contact-us .footer-container .footer-right p {
	cursor: pointer;
	display: inline-block;
}

/* responsive start  */
@media screen and (max-width: 850px) {
	.contact-container .contact-us .footer-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
		grid-gap: 15px;
	}
}

/* contact us end  */
