.dashboard-container .navbar-container {
	display: flex;
	justify-content: center;
	background-color: #0e51ff;
	color: white;
	height: max-content;
	padding: 5px 0 7px 0;
}

.dashboard-container .navbar-container .nav-wrapper {
	display: flex;
	justify-content: space-between;
}

.dashboard-container .nav-wrapper .nav-left {
	width: 120px;
	transform: scale(1.2);
}

.dashboard-container .nav-right {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	position: relative;
}

.dashboard-container .nav-right .admin-profile {
	display: flex;
	align-items: center;
	margin-right: 25px;
	cursor: pointer;
}

.dashboard-container .nav-right .admin-profile img {
	width: 55px;
	min-width: 55px;
	height: 55px;
	min-height: 55px;
	aspect-ratio: 1/1;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
	margin-right: 7px;
}

.dashboard-container .nav-right .admin-profile h5 {
	margin: 0;
	text-shadow: 5px 5px 4px rgb(13, 10, 10);
}

.dashboard-container .nav-right .admin-profile p {
	margin: 0;
	text-shadow: 5px 5px 4px rgb(13, 10, 10);
}

.dashboard-container .nav-wrapper .nav-right .menu-icon {
	display: flex;
	align-items: center;
	text-shadow: 5px 5px 4px rgb(13, 10, 10);
	font-size: 35px;
	cursor: pointer;
	margin-top: -2px;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* responsible start  */
@media screen and (max-width: 500px) {
	.nav-wrapper .nav-right .admin-profile .admin-info {
		display: none;
	}
}
